.nav{
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    background-color: black;
}
.card{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: gray;
    
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 700px;
}
.nav ul li:hover{
    cursor: pointer;
    border-bottom: 2px solid gold;
}
.nav ul{
    display: flex;
    width: 100%;
    max-width: 700px;
    list-style: none;
    justify-content: space-around;
}
.card h1{
    color: gold;
    font-family: cursive;
}
.card p{
    color: white;
    font-family: cursive;   
}

.big{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #0d0d0d;
    height: 600px;
    gap: 90px;
}
.katta{
    width: 300px;
    height: 350px;
    background-color: rgb(124, 131, 131);
    border-radius: 10%;
    
}  
.katta1{
    width: 300px;
    height: 350px;
    background-color: rgba(124, 131, 131, 0.372);
    border-radius: 10%;
    rotate: -5deg;
    
}  
.second{
    display: flex;

}
.second ul li{
    color: gold;
}
.first h1{
    color: gold;
    font-family: cursive;
}
.first p{
    color: white;
    font-family: cursive;
}
.second ul li span{
    color: white;
}
.gap{
    display: flex;
    align-items: center;
    color: white;
    gap: 15px;
}
.gap2 {
    display: flex;
    align-items: center;
    color: white;
    gap: 15px;
}
.chiziq{
    width: 90px;
    height: 3px;
    background-color: white;
}
.chiziq2{
    width: 90px;
    height: 3px;
    background-color: white;
}
*{
    padding: 0%;
    margin: 0%;
}
main{
    background-color:black;
    color: white;
    min-height: 700px;
}
main ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    list-style: none;
    padding-top: 30px;
}
main h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 15px;
}
.cards1{
    display: grid;
    grid-template-columns: auto auto auto auto;
    max-width: 50%;
    margin: auto;
}
.mehr{
    width: 200px;
    height: 150px;
    border-radius: 20px;
    background-color: grey;
    color: black;
    margin: 10%;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main ul li:hover{
    cursor: pointer;
    border-bottom: 2px solid gold;
}